body {
    background: #1abc9c;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.empty-survey {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login {
    background: none;
    padding: 0 38px 0 38px;
    margin-bottom: 0;
}

.login .login-screen {
    padding-top: 0;
}

.login .login-icon {
    top: 0;
}

.login-form.alone {
    margin-bottom: 10px;
    padding: 24px 23px 2px;
}

.table {
    color: #fff;
}

    .table .action * {
        display: none;
    }

        .table .table-row:nth-child(odd){
            background: #27AE60;
        }

        .table .table-row:nth-child(even){
            background: #2ECC71;
        }

        .table .table-row:hover {
            background: #16A085;
            cursor: default;
        }

        .table .table-row:hover .action * {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
        }

.manage .question {
    margin-bottom: 10px;
    border-top: solid 3px #95A5A6;
    cursor: move;
}

    .manage .question .login-form {
        cursor: default;
    }

.manage p {
    margin: 1px 0 1px;
    color:#2C3E50;
}

.manage .question.dragdrop {
    border-radius: 6px;
}

.dragdrop.ui-state-hover {
    border: dashed 2px #2980B9;
}
.dragdrop.ui-state-active {
    border: dashed 2px #D35400;
}

.manage_preloader {
    visibility: hidden;
}

.canvasjs-chart-toolbar > div > div {
    color: #000;
}


@media screen and (max-width: 1000px) {
    .login-screen {
        padding: 0;
    }

    .login-icon {
        display: none;
    }

    .table .table-row .action * {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.pagination li {
    background: #27AE60;
}
    .pagination li>a {
        border: none !important;
    }